
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #2c3e50, #3498db);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: rgb(255, 254, 254);
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(92, 91, 91, 0.842);
    width: 350px;
    text-align: center;
}

.login-container img {
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #2c3e50;
    font-weight: 600;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #c5c0c0;
    border-radius: 8px;
    font-size: 14px;
}

input:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

button {
    width: 100%;
    padding: 12px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    
}

button:hover {
    background: #2980b9;
}