.admin-dashboard {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: #fff;
}

.admin-sidebar {
  width: 170px;
  background: rgba(0, 0, 0, 0.493);
  padding: 30px;
  backdrop-filter: blur(10px);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

.admin-sidebar h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
}

.admin-sidebar li {
  margin: 15px 0;
}

.admin-sidebar a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.admin-sidebar a:hover {
  color: #ffd700;
}

.dashboard-content {
  flex: 1;
  padding: 40px;
}

.dashboard-cards {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  padding: 30px;
  border-radius: 15px;
  flex: 1;
  backdrop-filter: blur(8px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.admin-content1 {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  background: rgba(202, 199, 199, 0.3);
  backdrop-filter: blur(6px);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0 12px 12px 0;
  color: rgb(59, 58, 58);
}
